<div class="inicio-container">
  <img src="../../../assets/R.png" alt="" />
  <button mat-raised-button class="boton-celestes" (click)="redireccionar()">
    <mat-icon
      style="font-size: 8vw; height: fit-content; width: fit-content"
      class="d-flex justify-content-center aling-items-center"
      >battery_charging_full</mat-icon
    >
  </button>
  <button mat-raised-button class="boton-celestes">
    <mat-icon
      style="font-size: 8vw; height: fit-content; width: fit-content"
      class="d-flex justify-content-center aling-items-center"
      >power</mat-icon
    >
  </button>
</div>
