<ng-container>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      (click)="sidenav.toggle()"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Sala de baterias</span>
    <span class="example-spacer"></span>
    <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="openDial('500ms', '500ms')">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      (click)="openDialog('500ms', '500ms')">
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side"  class="example-sidenav">
      <button mat-button color="secondary" class="p-5 w-100">Cargar bateria</button>
      <button mat-button color="secondary" class="p-5 w-100">Listado de baterias</button>
      <button mat-button color="secondary" class="p-5 w-100">Aptas</button>
      <button mat-button color="secondary" class="p-5 w-100">Pendientes de reparacion</button>
      <button mat-button color="secondary" class="p-5 w-100">Baterias ingresadas</button>
      <button mat-button color="secondary" class="p-5 w-100">Observaciones del sector</button>
    </mat-sidenav>

    <mat-sidenav-content class="vh-100">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
