.example-container {
    position: relative;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: #212121
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }