<div *ngIf="thingsAsMatTableDataSource$" class="flex-column w-100">
  <table
    mat-table
    [dataSource]="thingsAsMatTableDataSource$ | async"
    class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="Interno">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="text-align: center; padding-left: -5px">
        No.
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        style="text-align: center; padding-left: -5px">
        {{ element.Interno }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Marca">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Marca
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        {{ element.Marca }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <app-backendbutt [selectedItems]="selectedItems"></app-backendbutt>
</div>
