<h1 class="d-flex justify-content-center">Baterias Activas Bajo Control</h1>

<div *ngIf="dataSource" class="table-responsive">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="Interno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.Interno }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Marca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
      <td mat-cell *matCellDef="let element">{{ element.Marca }}</td>
    </ng-container>
    <ng-container matColumnDef="Voltaje">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>V/a</th>
      <td mat-cell *matCellDef="let element">{{ element.Voltaje }}</td>
    </ng-container>
    <ng-container matColumnDef="Novedades">
      <th mat-header-cell *matHeaderCellDef>Novedades</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Novedades }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
