<div class="d-flex h-100 align-items-center justify-content-center">
  <form
    class="d-inline-flex flex-column w-75"
    (reset)="(formData)"
    [formGroup]="formData"
    (ngSubmit)="onSubmit($event)">
    <h2
      style="color: aliceblue; font-size: medium"
      class="d-flex justify-content-center">
      Creacion de Usuarios
    </h2>

    <label>Nombre</label>
    <div class="sidebar-search">
      <div>
        <div class="input-group">
          <input
            formControlName="name"
            type="text"
            class="form-control search-menu" />
        </div>
      </div>
    </div>

    <div *ngIf="formData.get('name')?.errors && formData.get('name')?.dirty">
      <p
        style="color: aliceblue"
        *ngIf="formData.get('name')?.hasError('required')">
        Campo obligatorio
      </p>
    </div>

    <label>Apellido</label>
    <div class="sidebar-search">
      <div>
        <div class="input-group">
          <input
            formControlName="lastname"
            type="text"
            class="form-control search-menu" />
        </div>
      </div>
    </div>

    <div *ngIf="formData.get('lastname')?.dirty">
      <p
        style="color: aliceblue"
        *ngIf="formData.get('lastname')?.hasError('required')">
        Campo obligatorio
      </p>
    </div>

    <label>Usuario</label>
    <div class="sidebar-search">
      <div>
        <div class="input-group">
          <input
            formControlName="email"
            type="text"
            class="form-control search-menu" />
        </div>
      </div>
    </div>

    <div *ngIf="formData.get('email')?.dirty">
      <p
        style="color: aliceblue"
        *ngIf="formData.get('email')?.hasError('email')">
        Formato email 'example@csud.baterias'
      </p>
      <p
        style="color: aliceblue"
        *ngIf="formData.get('email')?.hasError('required')">
        Campo obligatorio
      </p>
    </div>

    <label>Password</label>
    <div class="sidebar-search">
      <div>
        <div class="input-group">
          <input
            formControlName="password"
            type="password"
            class="form-control search-menu" />
        </div>
      </div>
    </div>

    <div *ngIf="formData.get('password')?.dirty">
      <p
        style="color: aliceblue"
        *ngIf="formData.get('password')?.hasError('required')">
        Campo obligatorio
      </p>
      <p
        style="color: aliceblue"
        *ngIf="formData.get('password')?.hasError('minlength')">
        6 caracteres como minimo
      </p>
      <p
        style="color: aliceblue"
        *ngIf="formData.get('password')?.hasError('maxlength')">
        8 caracteres como maximo
      </p>
    </div>
    <br />
    <button
      class="button-27"
      role="button"
      type="submit"
      [disabled]="formData.invalid">
      Crear Usuario
    </button>
  </form>
</div>
