<div class="d-flex h-100 align-items-center justify-content-center">
  <form
    class="d-inline-flex flex-column w-75"
    (reset)="(formData)"
    [formGroup]="formData"
    (ngSubmit)="onSubmit($event)">
    <h2
      style="color: aliceblue; text-align: center"
      class="d-flex justify-content-center">
      Login de Usuarios
    </h2>

    <label style="color: aliceblue">Usuario</label>
    <div class="sidebar-search">
      <div>
        <div class="input-group">
          <input
            formControlName="email"
            type="text"
            class="form-control search-menu"
            placeholder="Email" />
        </div>
      </div>
    </div>

    <div *ngIf="formData.get('email')?.errors && formData.get('email')?.dirty">
      <p
        style="color: aliceblue"
        *ngIf="formData.get('email')?.hasError('required')">
        Campo obligatorio
      </p>
    </div>

    <label style="color: aliceblue">Contraseña</label>
    <div class="sidebar-search">
      <div>
        <div class="input-group">
          <input
            formControlName="password"
            type="password"
            class="form-control search-menu"
            placeholder="Password" />
        </div>
      </div>
    </div>
    <!--<input matInput type="password" formControlName="password" />-->

    <div *ngIf="formData.get('password')?.dirty">
      <p
        style="color: aliceblue"
        *ngIf="formData.get('password')?.hasError('required')">
        Campo obligatorio
      </p>
    </div>
    <br />
    <button
      class="button-27"
      role="button"
      type="submit"
      [disabled]="formData.invalid">
      Ingresar
    </button>
    <h3 class="d-flex justify-content-center" *ngIf="load">
      <mat-progress-spinner
        mode="indeterminate"
        style="
          height: 50px;
          width: 50px;
          margin-top: 10px;
        "></mat-progress-spinner>
    </h3>
  </form>
</div>
