<div class="flex-column w-100">
  <h1 class="d-flex justify-content-center">Control en Checklist</h1>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Buscar Interno"
      #input />
  </mat-form-field>
  <div class="example-container table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="Interno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.Interno }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Marca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.Marca }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Voltaje">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>V/a</th>
        <td mat-cell *matCellDef="let element">{{ element.Voltaje }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Tapa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tapa</th>
        <td mat-cell *matCellDef="let element">
          <input
            [disabled]="
              isDisabled(element) ||
              denverLess === 'Reparacion' ||
              denverLess === 'Fuera de servicio' ||
              denverLess === 'Reserva'
            "
            class="form-check-input"
            type="checkbox"
            id="flexCheckChecked8"
            (change)="handleCheckboxChange(element, 'Tapa')"
            [checked]="element.Tapa" />
        </td>
      </ng-container>

      <ng-container matColumnDef="Cable">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cable</th>
        <td mat-cell *matCellDef="let element">
          <input
            class="form-check-input"
            type="checkbox"
            (change)="handleCheckboxChange(element, 'Cable')"
            id="flexCheckChecked7"
            [checked]="element.Cable"
            [disabled]="
              isDisabled(element) ||
              denverLess === 'Reparacion' ||
              denverLess === 'Fuera de servicio' ||
              denverLess === 'Reserva'
            " />
        </td>
      </ng-container>
      <ng-container matColumnDef="Ficha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ficha</th>
        <td mat-cell *matCellDef="let element">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckChecked6"
            (change)="handleCheckboxChange(element, 'Ficha')"
            [checked]="element.Ficha"
            [disabled]="
              isDisabled(element) ||
              denverLess === 'Reparacion' ||
              denverLess === 'Fuera de servicio' ||
              denverLess === 'Reserva'
            " />
        </td>
      </ng-container>
      <ng-container matColumnDef="Terminal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Terminal</th>
        <td mat-cell *matCellDef="let element">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckChecked5"
            (change)="handleCheckboxChange(element, 'Terminal')"
            [checked]="element.Terminal"
            [disabled]="
              isDisabled(element) ||
              denverLess === 'Reparacion' ||
              denverLess === 'Fuera de servicio' ||
              denverLess === 'Reserva'
            " />
        </td>
      </ng-container>
      <ng-container matColumnDef="Puente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Puente</th>
        <td mat-cell *matCellDef="let element">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckChecked4"
            (change)="handleCheckboxChange(element, 'Puente')"
            [checked]="element.Puente"
            [disabled]="
              isDisabled(element) ||
              denverLess === 'Reparacion' ||
              denverLess === 'Fuera de servicio' ||
              denverLess === 'Reserva'
            " />
        </td>
      </ng-container>
      <ng-container matColumnDef="Limpieza">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Limpieza</th>
        <td mat-cell *matCellDef="let element">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckChecked3"
            (change)="handleCheckboxChange(element, 'Limpieza')"
            [checked]="element.Limpieza"
            [disabled]="
              isDisabled(element) ||
              denverLess === 'Reparacion' ||
              denverLess === 'Fuera de servicio' ||
              denverLess === 'Reserva'
            " />
        </td>
      </ng-container>
      <ng-container matColumnDef="AguaDest">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Agua Dest</th>
        <td mat-cell *matCellDef="let element">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckChecked2"
            (change)="handleCheckboxChange(element, 'AguaDest')"
            [checked]="element.AguaDest"
            [disabled]="
              isDisabled(element) ||
              denverLess === 'Reparacion' ||
              denverLess === 'Fuera de servicio' ||
              denverLess === 'Reserva'
            " />
        </td>
      </ng-container>
      <ng-container matColumnDef="Turno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Turno</th>
        <td mat-cell *matCellDef="let element">
          <mat-select
            [(ngModel)]="element.Turno"
            [disabled]="
              isDisabled(element) ||
              denverLess === 'Reparacion' ||
              denverLess === 'Fuera de servicio' ||
              denverLess === 'Reserva'
            ">
            <mat-option
              class="w-100"
              *ngFor="let option of turnos"
              [value]="option"
              >{{ option }}</mat-option
            >
          </mat-select>
        </td>
      </ng-container>
      <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let element">
          <input
            *ngIf="denverLess"
            [(ngModel)]="element.Fecha"
            type="date"
            [disabled]="
              isDisabled(element) ||
              denverLess === 'Reparacion' ||
              denverLess === 'Fuera de servicio' ||
              denverLess === 'Reserva'
            " />
        </td>
      </ng-container>
      <ng-container matColumnDef="Novedades">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Novedades</th>
        <td mat-cell *matCellDef="let element">
          <textarea
            *ngIf="denverLess"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            [disabled]="
              isDisabled(element) ||
              denverLess === 'Reparacion' ||
              denverLess === 'Fuera de servicio' ||
              denverLess === 'Reserva'
            "
            [(ngModel)]="element.Novedades"></textarea>
        </td>
      </ng-container>
      <ng-container matColumnDef="Send">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Enviar</th>
        <td mat-cell *matCellDef="let element">
          <input
            *ngIf="denverLess"
            class="form-check-input"
            type="checkbox"
            id="flexCheckChecked1"
            [checked]="element.Send"
            (change)="handleCheckboxChange(element, 'Send')"
            [disabled]="
              isDisabled(element) ||
              denverLess === 'Reparacion' ||
              denverLess === 'Fuera de servicio' ||
              denverLess === 'Reserva'
            " />
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
</div>
