table {
    width: 100%;
  }
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .form-check-input{
    margin-left: 10px;
    font-size: 18px;
  }

  .headers{
    margin-left: 17px;
    margin-right: 17px;
  }