/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

#mat-menu-panel-0 {
  position: absolute;
  left: 200px;
}
#mat-menu-panel-6 {
  position: absolute;
  left: 200px;
}
#mat-menu-panel-7 {
  position: absolute;
  left: 200px;
}
#mat-menu-panel-8 {
  position: absolute;
  left: 200px;
}
#mat-menu-panel-10 {
  position: absolute;
  left: 200px;
}
#mat-menu-panel-11 {
  position: absolute;
  left: 200px;
  bottom: 90px;
}
